﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Employee Code
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th> 
        <th></th>
    </tr>
    <tbody data-bind="foreach: Employees">
        <tr>
            <td data-bind="text: Id"></td>
            <td data-bind="text: EmployeeCode"></td>
            <td data-bind="text: FirstName"></td>
            <td data-bind="text: LastName"></td> 
            <td> 
                 <a data-bind="attr: { 'href': '@Url.Action("Delete", "Employee")/' + Id }" class="btn-link">Delete</a>                
            </td>
        </tr>
    </tbody>
</table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/KOScripts/FetchEmployee.js"></script>
